.e-card:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px !important;
  transition: 0.5s;
  border-radius: 10px !important;
}
.e-card:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px !important;
  transition: 0.5s;
}
.task-wrapper {
  padding: 5px 10px;
}
.e-header-title div {
  width: 100%;
}